# ==========================
# Operating System Files
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# VS Code
# ==========================

.vscode/settings.json

# ==========================
# Logs
# ==========================

*.log
logs/

# ==========================
# Node.js
# ==========================

node_modules/

# ==========================
# Environment Variables
# ==========================

.env
.env.local
.env.*

# ==========================
# WordPress Cache
# ==========================

wordpress/wp-content/cache/

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp